.content.subheader {
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  margin-top: 90px;
}

.content.body {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  margin: auto;
  margin-top: 20px;
}

.statistic {
  transition: all 0.3s ease;
  width: calc(50% - 20px);
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12), 0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
}

.statistic > .header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .statistic {
    width: calc(100% - 20px);
  }
}
