body.abibao.mobile {
  background: #e7ebee;
}
body.abibao.mobile #root {
  margin: 0;
  padding: 0;
}

body.abibao.mobile > .ui.fluid.container {
  margin: 0;
  padding: 0;
}

body.abibao.mobile .reader-abibao .sui.root {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 0;
  transition: all 0.3s ease;
  box-shadow: none;
}

body.abibao.mobile .reader-abibao {
  margin: 0;
  padding: 0;
}

body.abibao.mobile .reader-abibao > div {
  margin: 0;
  padding: 0;
}

body.abibao.mobile .reader-abibao .sui.root {
  margin: 0;
  padding: 0;
  margin: auto;
  box-shadow: none;
}

body.abibao.mobile .reader-abibao .sui.body {
  border-radius: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  box-shadow: none;
}

body.abibao.mobile .reader-abibao .sui.root.main:before {
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  z-index: 9990;
}

body.abibao.mobile .reader-abibao .sui.footer {
  padding: 5px;
  height: 60px;
  border-radius: 0;
  width: 100%;
  position: fixed;
  z-index: 9990;
  bottom: 0;
}

body.abibao.mobile .reader-abibao .sui.page.title {
  padding: 20px;
}

/* FONT SIZE */

body.abibao.mobile .reader-abibao .sui.page.title > span {
  font-size: 1.8rem;
}
