@import url('https://fonts.googleapis.com/css?family=Lato');

body.abibao {
  background: #ffffff;
  height: 100%;
  min-height: 100%;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: normal;
}

.reader-abibao * {
  font-family: 'Lato', sans-serif;
  color: #101010;
  box-sizing: border-box;
}

.reader-abibao .sui.root.main {
  padding: 0;
  max-width: 680px;
  margin: auto;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.reader-abibao .sui.body {
  height: 100%;
  min-height: 100%;
  padding: 8px;
  border-radius: 8px;
  background: #e7ebee;
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12), 0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
}

.reader-abibao .sui.root.main:before {
  content: ' ';
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/images/abibao-logo-gris-jaune.png');
  background-position: top left;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.reader-abibao .sui.header {
  display: none;
}

.reader-abibao .sui.page.title {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #5da2c7;
  padding: 40px;
  margin: 0;
  text-align: center;
}

.reader-abibao .sui.page.title > span {
  font-size: 2.05rem;
  color: #ffffff;
}

.reader-abibao .sui.question.title {
  font-size: 20px;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  text-align: left;
}

.reader-abibao .sui.row {
  margin: 0;
  padding: 8px;
}

.reader-abibao .sui.footer {
  height: 80px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  padding: 16px;
  background: #5da3c7;
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12), 0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
}

.reader-abibao .sui.error.root {
  padding: 16px !important;
  margin-bottom: 16px !important;
  border: solid 2px #cc3300;
  border-radius: 5px !important;
}

.reader-abibao .sui.error.item {
  font-weight: bold;
  color: #cc3300;
}

/* PROGRESS BAR */

body.abibao .reader-abibao .sui.rating.root {
  padding: 5px !important;
}

body.abibao .reader-abibao .sui.progress {
  margin: 0 !important;
  padding: 0 !important;
  width: 50px !important;
  height: 50px !important;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 9999;
  border-radius: 50%;
  background: #d2dadf;
  border: solid 4px #f0f3f4;
  border-top-color: #f0f3f4;
  border-right-color: #f0f3f4;
  border-bottom-color: #f0f3f4;
  border-left-color: #f0f3f4;
  transform: rotate(45deg);
}

body.abibao .reader-abibao .sui.progress-bar {
  display: none;
}

/* RADIOGROUP */

.reader-abibao .sui.radiogroup.item > label > input[type="radio"]:checked,
.reader-abibao .sui.radiogroup.item > label > input[type="radio"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}

.reader-abibao .sui.radiogroup.item {
  height: 30px;
  margin-bottom: 5px;
}

.reader-abibao .sui.radiogroup.item > label {
  height: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.reader-abibao .sui.radiogroup.item input[type="radio"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 50%;
  margin-right: 5px;
}

.reader-abibao .sui.radiogroup.item input[type="radio"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 50%;
  margin-right: 5px;
}

/* CHECKBOX */

.reader-abibao .sui.checkbox.item > label > input[type="checkbox"]:checked,
.reader-abibao .sui.checkbox.item > label > input[type="checkbox"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}

.reader-abibao .sui.checkbox.item {
  height: 30px;
  margin-bottom: 5px;
}

.reader-abibao .sui.checkbox.item > label {
  height: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.reader-abibao .sui.checkbox.item input[type="checkbox"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 5px;
  margin-right: 5px;
}

.reader-abibao .sui.checkbox.item input[type="checkbox"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 5px;
  margin-right: 5px;
}

/* RATING */

.reader-abibao .sui.rating.root {
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  font-size: 20px;
  line-height: auto;
}

.reader-abibao .sui.rating.item > span {
  cursor: pointer;
  display: inline-block;
  min-width: 40px;
	min-height: 40px;
  width: 40px;
	height: 40px;
  background: #f0f0f0;
  border: solid 4px #d0d0d0;
  border-radius: 10px;
  margin-right: 5px;
  text-align: center;
  line-height: 30px;
}

.reader-abibao .sui.rating.item.active > span {
  background: #f0f0f0;
  border: solid 4px #5da2c7;
}

/* FORMS */

.reader-abibao input[type=text], .reader-abibao input[type=number], .reader-abibao input[type=email] {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  font-size: 20px;
  line-height: auto;
}

.reader-abibao textarea {
  resize: none;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
}

.reader-abibao select {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  font-size: 20px;
  line-height: auto;
}

/* BUTTONS */

.reader-abibao .sui.button {
  margin: 0;
  padding: 0;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: .3s color, .3s background-color, .3s border-color;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(62, 80, 104, 0.32);
  color: #5da3c7;
  background-color: #ffffff;
  font-size: 20px;
  line-height: auto;
  outline: none;
  border: none;
}

.reader-abibao .sui.button:hover {
  opacity: 0.75;
}

.reader-abibao .sui.button.nav.next {
  float: right;
  margin: 0 !important;
}

.reader-abibao .sui.button.nav.complete {
  float: right;
  margin: 0 !important;
}

.reader-abibao .sui.button.nav.prev {
  float: left;
  margin: 0 !important;
}

/* SORTABLE */

.reader-abibao .sortablejs-container {
  width: 100%;
}

.reader-abibao .sortablejs-drop {
  width: 100%;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
  min-height: 60px;
  border-radius: 5px;
  background: #f0f0f0;
}

.reader-abibao .sortablejs-drop > li {
  width: 100%;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.reader-abibao .sortablejs-drag {
  width: 100%;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
  min-height: 60px;
  border-radius: 5px;
  background: #f0f0f0;
}

.reader-abibao .sortablejs-drag > li {
  width: 100%;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  list-style-type: none;
}

/* IMAGE */

.reader-abibao .imagepicker-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reader-abibao .imagepicker-item {
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 10px;
  width: 160px;
  height: 160px;
  background: #ffffff;
  border-radius: 7px;
  border: solid #ffffff 2px;
  box-shadow: 0 3px 6px 3px rgba(0,0,0,.2);
  text-align: center;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 17px;
  line-height: 135px;
}

.reader-abibao .imagepicker-item.selected {
  border: solid #5da2c7 4px;
}

.reader-abibao .imagepicker-item > img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
