* {
  box-sizing: border-box;
}

html, body, #root {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f9ff;
  color: #242628;
}

button:focus {
  outline:0;
}

hr.light-blue {
  background: #e3eefb;
  height: 2px;
}
hr.grey {
  background: #e3eefb;
  height: 2px;
}

a, h1, h2, h3, h4, h5, h6, p, label, blockquote, input[type=text], textarea {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

a, a:visited {
  color: #77b382;
}
a:hover {
  opacity: 0.75;
}

hr {
  outline: none;
  border: none;
}

div {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) and (min-width: 640px) {
}

@media screen and (max-width: 640px) {
}

@import './colors.css';
@import './header.css';
@import './buttons.css';
@import './containers.css';
@import './forms.css';
@import './tooltip.css';
