/* DESKTOP */

.abibao-reader * {
  font-family: 'Lato', sans-serif;
  color: #6e6e6e;
}

body.abibao {
  background: #5da3c7;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.ui.fluid.container.abibao {
  display: flex;
  align-items: center;
}

.abibao-reader {
  padding: 8px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  display: flex;
  position: relative;
}

.abibao-reader .ui.segment.basic {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.abibao-reader .ui.segment.basic.body {
  position: relative;
  padding: 16px;
  max-width: 680px;
  background: #ffffff !important;
  border-radius: 10px;
  box-shadow: 0 3px 6px 3px rgba(0,0,0,.2);
  max-height: calc(100% - 160px);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999;
}

/* NAVIGATION */

.abibao-reader .ui.segment.basic.footer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: -60px;
  margin-top: -8px;
  display: table-cell;
  vertical-align: bottom;
}

.abibao-reader .navigation.prev, .abibao-reader .navigation.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  margin: 0 !important;
  padding: 0;
}

.abibao-reader .navigation.prev {
  float: left;
}

.abibao-reader .navigation.next {
  float: right;
}

/* ERROR */

.abibao-reader .ui.segment.basic.error {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #ffe6e6;
  border: solid 2px #cc3300;
  border-radius: 5px;
}

.abibao-reader .ui.segment.basic.error > div {
  font-size: 18px;
  font-weight: bold;
  color: #cc3300;
}

/* CHECKBOX */

div.abibao-checkbox input[type="checkbox"]:checked,
div.abibao-checkbox input[type="checkbox"]:not(:checked) {
  display: none;
	margin: 0;
	padding: 0;
}
div.abibao-checkbox {
  height: 30px;
  margin-bottom: 5px;
}
div.abibao-checkbox > label {
  font-size: 1.25em;
  height: 30px;
  line-height: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
div.abibao-checkbox input[type="checkbox"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 5px;
  margin-right: 5px;
}
div.abibao-checkbox input[type="checkbox"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 5px;
  margin-right: 5px;
}

/* RADIO */

.abibao-radio > label > input[type="radio"]:checked,
.abibao-radio > label > input[type="radio"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}
div.abibao-radio {
  height: 30px;
  margin-bottom: 5px;
}
div.abibao-radio > label {
  font-size: 1.25em;
  height: 30px;
  line-height: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
div.abibao-radio input[type="radio"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 50%;
  margin-right: 5px;
}
div.abibao-radio input[type="radio"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 50%;
  margin-right: 5px;
}
