@import url('https://fonts.googleapis.com/css?family=Lato');

body.abibao {
  background-color: #f6f9ff;
  color: #242628;
  height: 100%;
  min-height: 100%;
}

body.abibao h1, body.abibao h2, body.abibao h3, body.abibao h4, body.abibao h5, body.abibao h6, body.abibao p, body.abibao blockquote {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  display: block;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
}

body.abibao p {
  margin-bottom: 20px;
}

.reader-abibao * {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.reader-abibao {
  margin: 0;
  padding: 0;
  margin-top: 20px !important;
}

.reader-abibao .sui.error.root {
  border: solid #c64e4e 2px;
  background-color: rgba(198, 78, 78, 0.5);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.reader-abibao .reader-container {
  background: #ffffff;
  width: auto;
  padding: 20px;
  box-shadow: 0 0 1px 0 rgba(61, 119, 180, 0.12), 0 0.25rem 12px 0 rgba(91, 139, 199, 0.24);
  border-radius: 5px;
  transition: all 0.3s ease;
  max-width: 640px;
  margin: auto;
}

.reader-abibao .sui.footer::after {
  content: "Propulsé par Abibao (c) 2015-2017";
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 90px;
  color: #5da3c7;
  text-shadow: 2px 2px #ffffff;
}

.reader-abibao .sui.root.radiogroup {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.reader-abibao .sui.page.title {
  font-size: 28px;
  line-height: 28px;
  width: 100%;
  text-align: left;
  color: #5da3c7;
  padding-bottom: 20px;
  border-bottom: solid 4px #5da3c7;
}

.reader-abibao .sui.question.title {
  font-size: 22px;
  line-height: 22px;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: none;
  border-radius: 0;
}

.reader-abibao .sui.root.question {
  margin-top: 20px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.reader-abibao .sui.progress {
  display: none;
  width: 100%;
  height: 40px;
  border: solid 1px #5da3c7;
}

.reader-abibao .sui.progress.bar {
  display: none;
}

.reader-abibao .sui.progress.bar > span {
  display: none;
}

.reader-abibao .sui.footer {
  height: 68px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #f0f0f0;
}

/* FORMS */

.reader-abibao input[type=text], .reader-abibao input[type=number], .reader-abibao input[type=email] {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  font-size: 20px;
  line-height: auto;
}

.reader-abibao select {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  font-size: 20px;
  line-height: auto;
}

/* BUTTONS */

.reader-abibao .sui.button {
  margin: 0;
  padding: 0;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: .3s color, .3s background-color, .3s border-color;
  text-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(62, 80, 104, 0.32);
  color: #ffffff;
  background-color: #5da3c7;
  font-size: 20px;
  line-height: auto;
  outline: none;
  border: none;
}

.reader-abibao .sui.button:hover {
  opacity: 0.75;
}

.reader-abibao .sui.button.nav.next {
  float: right;
  margin: 0 !important;
}

.reader-abibao .sui.button.nav.complete {
  float: right;
  margin: 0 !important;
}

.reader-abibao .sui.button.nav.prev {
  float: left;
  margin: 0 !important;
}

/* CHECKBOX */

.reader-abibao .sui.checkbox.item > label > input[type="checkbox"]:checked,
.reader-abibao .sui.checkbox.item > label > input[type="checkbox"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}

.reader-abibao .sui.checkbox.item {
  height: 30px;
  margin-bottom: 5px;
}

.reader-abibao .sui.checkbox.item > label {
  font-size: 18px;
  height: 30px;
  line-height: 18px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.reader-abibao .sui.checkbox.item input[type="checkbox"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 5px;
  margin-right: 5px;
}

.reader-abibao .sui.checkbox.item input[type="checkbox"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da3c7;
  border-radius: 5px;
  margin-right: 5px;
}

/* RADIO */

.reader-abibao .sui.radiogroup.item > label > input[type="radio"]:checked,
.reader-abibao .sui.radiogroup.item > label > input[type="radio"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}

.reader-abibao .sui.radiogroup.item {
  height: 30px;
  margin-bottom: 5px;
}

.reader-abibao .sui.radiogroup.item > label {
  font-size: 18px;
  height: 30px;
  line-height: 18px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.reader-abibao .sui.radiogroup.item input[type="radio"]:not(:checked) + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 10px #cccccc;
  border-radius: 50%;
  margin-right: 5px;
}

.reader-abibao .sui.radiogroup.item input[type="radio"]:checked + span:before {
  content: '';
  display: block;
  width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da3c7;
  border-radius: 50%;
  margin-right: 5px;
}
