.semantic-reader * {
  font-family: 'Lato', sans-serif;
  color: #101010;
}

.semantic-reader {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff !important;
  max-width: 680px;
  margin: auto;
}

.semantic-reader textarea {
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
}

.semantic-reader input[type=text], .semantic-reader input[type=email] {
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 0.5em 0.51em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
}

.semantic-reader .ui.inverted.green.segment {
  background: #f0f0f0 !important;
}

.semantic-reader .ui.padded.segment {
  padding: 0.5em;
}

.semantic-reader .title {
  padding: 0;
  margin: 0;
}
