@import url('https://fonts.googleapis.com/css?family=Lato');

.abibao-reader * {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.abibao-reader p {
  font-size: 1.1rem;
}

.abibao-reader {
  background: #ffffff;
  padding: 20px;
  margin: auto;
  max-width: 640px;
}
.abibao-panel-heading {
  font-size: 2.05rem;
  font-weight: 900;
  letter-spacing: -.01rem;
  color: #5da2c7;
  margin: 0;
  padding: 0;
}
.abibao-panel-heading h3 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin: 0;
  padding: 30px;
  padding-bottom: 0;
  font-size: 2.05rem;
  font-weight: 900;
  letter-spacing: -.01rem;
  background: #5da2c7;
  color: #ffffff;
  text-align: center;
}
.abibao-panel-body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.abibao-panel-footer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #5da2c7;
  padding: 20px;
  margin: 0;
}

h4.abibao-page-title {
  font-size: 2.05rem;
  font-weight: 900;
  letter-spacing: -.01rem;
  background: #5da2c7;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 30px;
  padding-top: 0;
}

.abibao-row {
  background: #e7ebee;
}

.abibao-question {
  margin: 0;
  padding: 30px;
  background: #e7ebee;
  width: calc(100% - 0px) !important;
  margin-bottom: 22px;
}
.abibao-question-title {
  margin: 0;
  display: inline-block;
  width: 100%;
  color: #373e44;
  font-size: 1.5rem !important;
  margin-bottom: 20px;
}
.abibao-footer-title {
  margin: 0;
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem !important;
}

.abibao-abibao-alert-danger {
  background: #ef9a9a;
  border: solid 2px #e57373;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  font-size: 1.25em;
  font-weight: 600;
  color: #ffffff;
  margin: 1em;
  margin-left: 0;
  margin-right: 0;
}

.abibao-progress.center-block {
  padding: 0;
  margin: 0;
}
.abibao-progress {
  padding: 0;
  margin: 0 !important;
  width: 100% !important;
  background: #e7ebee;
  border: solid 2px #5da2c7;
  border-bottom: solid 2px #e7ebee;
}
.abibao-progress-bar {
  padding-top: 1em;
  background: linear-gradient( 90deg, #5da2c7 90%, #e7ebee );
}
.abibao-progress-bar > span {
  display: none;
}

input.abibao-form-control {
  padding: 15px;
  border-radius: 7px;
  color: #505050;
  margin: 0;
  font-size: 1.5rem;
  border: none;
  background: #fffff;
  width: 100% !important;
}

textarea.abibao-form-control {
  padding: 15px;
  border-radius: 7px;
  color: #505050;
  margin: 0;
  font-size: 1rem;
  border: none;
  background: #fffff;
  width: 100% !important;
}

.abibao-button-nav {
  width: 120px;
  border: none;
  background: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: .04em;
  text-align: center;
  text-transform: none;
  background: #fff;
  color: #5da2c7;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 3px rgba(0,0,0,.2);
  cursor: pointer;
  transition: all .2s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* COMBOBOX */

.abibao-question select {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: .04em;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 3px rgba(0,0,0,.2);
  color: #505050;
  margin: 0;
  font-size: 1rem;
  border: none;
  background: #fff;
  width: 100% !important;
}

/* CHECKBOX */
div.abibao-checkbox > label > input[type="checkbox"]:checked,
div.abibao-checkbox > label > input[type="checkbox"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}
div.abibao-checkbox {
  height: 30px;
  margin-bottom: 5px;
}
.abibao-checkbox > label > span {
  display: inline-block;
  white-space: pre-wrap;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.25em;
  height: 30px;
  line-height: 15px;
  margin: auto;
	padding-left: 38px;
	position: relative;
	cursor: pointer;
}
.abibao-checkbox > label > span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 2px #cccccc;
  border-radius: 5px;
}
.abibao-checkbox > label > input[type="checkbox"]:checked + span:before {
  content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 5px;
}

/* RADIO */

.abibao-radio > label > input[type="radio"]:checked,
.abibao-radio > label > input[type="radio"]:not(:checked) {
	display: none;
	margin: 0;
	padding: 0;
}
.abibao-radio {
  height: 30px;
  margin-bottom: 5px;
}
.abibao-radio > label > span {
  display: inline-block;
  white-space: pre-wrap;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.25em;
  height: 30px;
  line-height: 15px;
  margin: auto;
	padding-left: 38px;
	position: relative;
	cursor: pointer;
}
.abibao-radio > label > span:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
  background: #cccccc;
  border: solid 2px #cccccc;
  border-radius: 100%;
}
.abibao-radio > label > input[type="radio"]:checked + span:before {
  content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
  background: #f0f0f0;
  border: solid 10px #5da2c7;
  border-radius: 100%;
}

.abibao-panel-footer .abibao-button-nav:nth-child(2) {
  float: right;
}

.imagepicker-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.imagepicker-item {
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 10px;
  width: 160px;
  height: 160px;
  background: #ffffff;
  border-radius: 7px;
  border: solid #ffffff 2px;
  box-shadow: 0 3px 6px 3px rgba(0,0,0,.2);
  text-align: center;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 17px;
  line-height: 135px;
}

.imagepicker-item.selected {
  border: solid #5da2c7 2px;
}

.imagepicker-item > img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
