.button.create {
  background: transparent;
  border: solid 4px #ffffff;
  color: #ffffff;
  box-shadow: none;
  width: 50px;
  height: 50px;
}

.content.subheader {
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  margin-top: 90px;
}

.content.body {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
  margin: auto;
  margin-top: 20px;
}

.content.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  background-color: #5da3c7;
  color: #ffffff;
}

.content.row {
  margin: 10px;
}

.spacer {
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .content.body {
    width: calc(100% - 20px);
  }
}
