/**
GLOBAL **/

html, body, #root, #root > div {
  margin: 0;
  padding: 0;
  height: 100%;
}
html * {
  font-family: Roboto;
}

/**
MENU COMPONENT **/

.ui.inverted.menu {
  background: #555555;
  border-bottom: solid #888888 2px;
}
h1.ui.appbar {
  letter-spacing: 0.62rem;
}
h1.ui.appbar .sub.header {
  letter-spacing: 0.8rem;
}

/**
FORM COMPONENT **/

.ui.form.dropdown, .ui.form textarea, .ui.input input, .ui.input.form input {
  width: 100%;
	border-radius: 4px;
	border: solid 2px rgba(34, 36, 38, 0.15);
}
.ui.form textarea:focus, .ui.input.focus input, .ui.input.form input:focus, .ui.input input:focus {
	border: solid 2px rgba(34, 36, 38, 0.5);
	border-radius: 4px;
}

.ui.segment.content {
	margin-top: 50px;
}

/**
404 COMPONENT **/

.ui.container.error404 {
	position: absolute;
	width: 100% !important;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background: rgb(219, 40, 40);
}
.ui.segment.error404 {
	background: #ffffff !important;
	text-align: center;
	margin: auto;
	margin-top: 50vh !important;
	transform: translateY(-50%);
	border: solid 2px rgba(219, 40, 40, 0.5) !important;
	border-radius: 4px !important;
	max-width: 320px;
}
h1.ui.error404 {
  font-size: 4rem;
}

/**
READER COMPONENT **/
.ui.container.loader-reader {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/**
LOGIN COMPONENT **/

.ui.fluid.container.login {
  margin: 0!important;
  padding: 0!important;
  height: 100%!important;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-login {
  text-align: center;
  font-size: 40px!important;
  padding: 20px!important;
  margin: 0!important;
  width: 100%;
}
.header-login .sub.header {
  margin: 0!important;
  font-size: 30px!important;
}
.content-login {
  text-align: center;
  padding: 20px!important;;
  margin: 0!important;
  width: 100%;
}
.footer-login {
  text-align: center;
  padding: 20px!important;;
  margin: 0!important;
  width: 100%;
}

/**
CAMPAIGNS COMPONENT **/
div.description.campaigns {
	width: 100% !important;
}
.campaigns.content {
  border: solid blue 2px !important;
  margin-top: 80px !important;
}

/**
EDITOR COMPONENT **/

.ui.container.editor {
	overflow: hidden;
	height: 100% !important;
}

.ui.segment.editor {
	height: calc(100% - 80px) !important;
  padding: 0;
  margin: 0;
}

.button.floating.right {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
